# Bibliotecas

In [2]:
!pip install plotly --upgrade

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly in c:\users\las2\appdata\roaming\python\python39\site-packages (5.11.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from plotly) (8.0.1)

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

# Database Credit

In [4]:
base_credit = pd.read_csv('data/credit_data.csv')

In [8]:
base_credit.head()

   clientid        income        age         loan  default
0         1  66155.925095  59.017015  8106.532131        0
1         2  34415.153966  48.117153  6564.745018        0
2         3  57317.170063  63.108049  8020.953296        0
3         4  42709.534201  45.751972  6103.642260        0
4         5  66952.688845  18.584336  8770.099235        1